---
import ContactForm from '../components/forms/ContactForm.astro';
import Layout from '../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Contact | Astro Odyssey Theme',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Contact Us</h1>
				<p>
					Contact Gnosis Strategies... Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minima cumque quam quia facere nemo, necessitatibus, voluptatem dolorum maiores hic earum nisi pariatur vitae possimus obcaecati officiis sint deleniti temporibus.
				</p>
				<div>
					<p>
						<em><a href="tel:1112223333">(111) 222-3333</a></em> • <em
							><a href="mailto:hello@ourcompany.com">hello@ourcompany.com</a
							></em
						>
					</p>
				</div>
			</div>

			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: oklch(0.943 0.029 294.588);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
